
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1200px;
  margin:auto!important;
  padding: 0px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.page-wrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.logout-button {
  float: right;
  margin-bottom: 10px!important;
}

.MuiAppBar-colorPrimary {
  color: #090808 !important;
  background-color: #eee !important;
}

.MuiTab-root {
  font-family: "Montserrat", sans-serif !important;
  font-weight: bolder !important;
  line-height: 2 !important;
  text-shadow: 0 3px 3px rgb(173, 170, 170) !important;
}

.MuiButton-containedSecondary {
  color: #f51f10 !important;
  background-color:  #eee !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: bolder !important;
  line-height: 2 !important;
  text-shadow: 0 3px 3px rgb(173, 170, 170) !important;
}

.PrivateTabIndicator-colorSecondary-14 {
  background-color: #f51f10 !important;
  /* line-height: 18px !important; */
  height: 4px !important;
}

.MuiButton-containedPrimary {
  color: #fff !important;
  background-color: #999999 !important;
}

.makeStyles-avatar-2 {
  margin: 8px !important;
  background-color: #080808e0 !important;
}

.project-title {
  font-family: "Montserrat", sans-serif !important;
  font-weight: bolder !important;
  line-height: 2 !important;
  text-shadow: 0 3px 3px rgb(173, 170, 170) !important;
  color: #f83022e0 !important;
}